*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background: linear-gradient(60deg,white 60%,#5352ed 60%);
    height: 100vh;
}   */
.log{
  width: 800px;
  height: 500px;
    background: rgba(187, 183, 183, 0.25);
  box-shadow: 0 8px 32px 0 rgba(13, 33, 210, 0.348);
 backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

}
.head{
  position: absolute;
  top: 5%;
  right: 30%;

}
.head p{   
    font: 700;
    font-size: 2vw;
}
.email-phn p{
    font-size: 1vw;
    position: absolute;
    top:20%;
    left: 57%;
    
    
}
input[type=email]{
    height: 50px;
    width: 350px;
    position: absolute;
    left: 55%;
    top: 27%;
    border-radius: 30px;
    padding: 20px;
    border: none;
    outline: none;
}
.pswd p{
    /* margin: 20px 0 10px 20px; */
    font-size: 1vw;
    position: absolute;
    top: 42%;
    left: 57%;
    
}
input[type=password]{
    height: 50px;
    width: 350px;
    position: absolute;
    left: 55%;
    top: 49%;
    border-radius: 30px;
    padding: 20px;
    border: transparent;
    outline: none;
}

.log-img img{
    height: 450px;
    width: 400px;
    object-fit: cover;
    border-radius:  70% 30% 70% / 70% 52% 48% 30%;
  
}
.bcg{
    height: 100vh;
    width: 100vw;
}
.bcg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    

}
.forget{
    margin-bottom: 5px;
    color: grey;
    position: absolute;
    top: 63%;
    left: 70%;


}
.forget:hover{
    text-decoration: underline;
    cursor: pointer;

}
input[type="submit"]{
    width: 30%;
    height: 50px;
    background-color: #2691d9;
    font-size: 1.5vw;
    border-radius: 20px;
    padding: 0 10px;
    color: white;
    border: 1px solid ;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 70%;
    left: 63%;

}
input[type="submit"]:hover{
   background-color: rgb(58, 162, 196);
    transition: 0.5s;
}
.signup{
    margin: 30px 0;
    text-align: center;
    font-size: 1vw;
    color: grey;
    position: absolute;
    top: 75%;
    left: 68%;
}
.signup a{
    color: #2691d9;
    text-decoration: none;

}
.signup a:hover{
    text-decoration: underline;
}
.continue {
    border-radius: 10px;
    height: 50px;
    text-align: center;
    background-color:#D980FA;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 87%;
    left: 58%;
    width: 40%;
    padding: 8px;
   
    



    
}
.continue a{
    color: blue;
    text-decoration: none;
    /* padding-left: 20px; */
    font-size: 1.3vw;
    text-shadow: #FC0 1px 0 10px;
   

}
input[type=email]:focus{
    border: 1px solid blue;

}

input[type=password]:focus{
    border: 1px solid blue;
}

.continue:hover{
    background-color: rgb(188, 120, 188)
}